@model Expense.Models.ExpensetypeViewModel

@{
    ViewData["Title"] = "Create Expense Type";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr/>
@if (!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@successMessage
    </div>
    <button type="button" class="btnbtn-close float-end" data-bs-dismiss="alert"></button>
}
else if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
    </div>
    <button type="button" class="btnbtn-close float-end" data-bs-dismiss="alert"></button>
}
<form action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Code</label>
        <input type="text" class="form-control" asp-for="Code" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="d-grid>">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}